.header, .image-container, .btn {
    display: flex;
    justify-content: center;
}

body {
    background-color: #FDD2BF;
}

h1, h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#one, #two {
    padding: 20px;
    background: black;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid gray;
}